body {
  margin: 0;
  background: linear-gradient(
    to left,
    rgb(38, 145, 207) 0%,
    rgb(122, 196, 230) 100%
  );

  font-family: "Inter", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 3em !important;
}

.errorMsg {
  color: red;
  font-weight: bold;
}

.loading-spinner {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
