.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.minTemp {
  color: blue;
}

.maxTemp {
  color: red;
}

h1 {
  color: #9eebcf;
}

h2 {
  margin: 0.5rem;
}

.textAlignLeft {
  text-align: left;
}
